
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&display=swap");

h1 {
  color: #f2a6f3;
  background-color: rgb(211, 221, 123);
  text-decoration: overline red dashed;
  text-shadow: 5px 5px 20px rgb(255, 0, 0);
  text-transform: uppercase;
  font-family: "Edu QLD Hand", cursive;
}
